<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<input type="checkbox" @change="handleChange" v-model="isAllchecked">全选
			<ul>
				<li v-for="car in carList">
					<div class="mui-input-row mui-checkbox ">
						<input type="checkbox" v-model="lists" :value="car" @change="handleliChange()">
						{{car}}
						<button @click="delChange(car)">del</button>
						{{car.number}}
						<button @click="car.number++">add</button>
					</div>
				</li>
			</ul>
			{{lists}}
			<p>总金额计算：{{ getSum() }}</p>
		</div>
		
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			const app = new Vue({
				el:"#app",
				data:{
					lists: [],
					isAllchecked: false,
					carList: [
						{
							name: '商品1',
							price: 10,
							number: 1,
							id: '1'
						},
						{
							name: '商品2',
							price: 20,
							number: 2,
							id: '2'
						},
						{
							name: '商品3',
							price: 30,
							number: 3,
							id: '3'
						}
					]
				},
				methods:{
					getSum(){
						let sum = 0;
						for(const i in this.lists){
							sum += this.lists[i].price * this.lists[i].number
						}
						return sum
					},
					handleChange(){
						if(this.isAllchecked){
							this.lists = this.carList
						}else{
							this.lists = []
						}
					},
					handleliChange(){
						if(this.lists.length === this.carList.length){
							this.isAllchecked = true
						}else{
							this.isAllchecked = false
						}
					},
					delChange(car){
						let number = car.number--;
						if(number === 1){
							car.number = 1;
						}
					}
				
				}
			})
			
		</script>
	</body>
</html>
